body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    gap: 20px;
    margin: 30px;
    padding: 20px;
}

.images-container {
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
}

.images-container img{
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;;
}

.main-image img {
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    width: 500px;
    margin-inline: 40px;
}
.details-container {
    flex: 1;
    padding-left: 50px;
}
.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.quantity-control input {
    width: 10px;
    text-align: center;
    font-size: 16px;
}
.buy-button {
    display: block;
    padding: 10px 20px;
    background: blue;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 16px;
}